@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>    
    <button type="button" class="btn btn-dark list" onclick="location.href='@Url.Action("Index", "StarWarsPeople")'">
        <span class="btn-test">List characters</span>
        <i class="fa-solid fa-jedi"></i>
    </button>
</div>
