html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  background-color: transparent;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../img/death-star.png');
    margin: 0;
}

.btn.list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #f2f2f2;
    font-size: 24px;
}

.btn.list-async {
    border: 1px solid transparent;
    border-radius: 20px;
    color: #f2f2f2
}

.tbl-characters {
    color: #f2f2f2
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #f2f2f2;
    border-top-color: #2a2cb0;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}